/* Layout */
body {
  background-color: #EDEDED;
  height: 100vh;
}

.container-fluid {
  height: calc(100% - 34px);
}

.navbar {
  background-color: #3C3439;
}

.tree-bar {
  background-color: #746F72;
}

.icon-navbar {
  color: white;
}

.editing-window {
  border-right-style: solid;
  border-right-width: medium;
  background-color: white;
}
